@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #0043ff, #f00);
  color: #292c35;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
}

button {
  background-color: #292c35;
  color: #fff;
  border: none;
  padding: 7px;
  border-radius: 50px;
  width: 90px;
  font-weight: 700;
}

button:hover {
  transition: background-color 0.3s linear;
  background-color: #45267e;
}

button.dark {
  background-color: #c4d6e8;
  color: #292c35;
}

button.dark:hover {
  transition: background-color 0.3s linear;
  background-color: #8e94d2;
}

input {
  padding: 10px;
  border: none;
}

.header,
.main {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header {
  padding: 25px 10%;
}

h1 {
  width: fit-content;
  text-align: center;
  padding: 2rem;
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;
}

.header h1 {
  margin: 0;
}

.neonText {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px red,
    0 0 82px red,
    0 0 92px red,
    0 0 102px red,
    0 0 151px red;
}



/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px #000,
      0 0 11px #000,
      0 0 19px #000,
      0 0 40px red,
      0 0 80px red,
      0 0 90px red,
      0 0 100px red,
      0 0 150px red;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 40px;
  padding: 3% 10%;
}

@media screen and (max-width: 780px) {
  .main {
    grid-template-columns: 1fr;
  }

  .form-container {
    grid-row: 2;
  }
}

h2 {
  margin: 0;
  color: #fff;
}

.leaderboard-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.refresh-btn {
  height: 50%;
  align-self: center;
}

.leaderboard {
  border: 2px solid black;
  border-radius: 5px;
  height: 433px;
  overflow: auto;
  background-color: #fff;
  color: black;
}

.leaderboard-list {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px 20px;
}

li:nth-child(odd) {
  background: linear-gradient(135deg, hsl(0deg 0% 0%), #ff00bc);
  color: white;
}

.score-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submit-btn {
  align-self: flex-end;
}

footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #180000;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 80px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 780px) {
  footer p {
    font-size: 12px;
  }
}
